<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712177779584-j5kcs48l28u5ocq4ibbbl4m1uoubfod1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712177779584-j5kcs48l28u5ocq4ibbbl4m1uoubfod1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>712177779584-2fgd3bv2q552ims2jpm3pguagamuruvd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyApdgShDuGgROCCzcXGereRE86PUr_cRTY</string>
	<key>GCM_SENDER_ID</key>
	<string>712177779584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gamma.coinfinacle.com</string>
	<key>PROJECT_ID</key>
	<string>coindhan-gamma</string>
	<key>STORAGE_BUCKET</key>
	<string>coindhan-gamma.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712177779584:ios:9808eb22a1ec75e137b765</string>
	<key>DATABASE_URL</key>
	<string>https://coindhan-gamma-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>